@charset "utf-8";
main{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffff;
    box-shadow: 2px 2px 5px #31171285;
}

body{
    background-image: linear-gradient(#311712a1, #fff);
    height: 100vh;
    width: 100vw;
}

#cabecalho600{
    display: block;
    background-color: #311712;
    text-align: left;
}

#cabecalho480{
    display: none;
}

#desktop{
    display: block;
}

#cel{
    display: none;
}